<p>Source app/views/static_pages/help.html.erb</p>

<% provide(:title, 'Help') %>
<h1><%= t('Help') %></h1>

<p>
  Ruby on Rails Guides
  <a href="http://guides.rubyonrails.org/">http://guides.rubyonrails.org/</a>.
</p>
<p>
  Перевод Ruby on Rails Guides для версии Rails 4.0
  <a href="http://rusrails.ru/">http://rusrails.ru/</a>.
</p>
<p>
  Ruby on Rails Tutorial
  <a href="http://railstutorial.org/">http://railstutorial.org</a>.
</p>
<p>
  Ruby on Rails Tutorial source
  <a href="https://github.com/railstutorial/sample_app_rails_4">Rails Tutorial source</a>.
</p>
<p>
  Изучение Rails на Примерах
  <a href="http://railstutorial.ru/chapters/4_0/beginning">Ruby on Rails Tutorial</a>.
</p>