<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>

<p>Find me in app/views/users/index.html.erb</p>

<% provide(:title, 'All users') %>
<h1><%=t('Users')%></h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

<!--
<ul class="users">
  < % @users.each do |user| %>
    < %= render user %>
  < % end %>
</ul>
-->