<!--li><a href="http://news.railstutorial.org/">News</a></li-->
<!--a href="http://railstutorial.org/">Rails Tutorial</a-->

<footer class="footer">
  <!--small>
    Разработано с использованием Ruby on Rails
    <a href="http://rubyonrails.org/">http://rubyonrails.org</a>
  </small-->
  <nav>
    <ul>
      <li><%= link_to t('Help'),    help_path %></li>
      <li><%= link_to t('About'),   about_path %></li>
      <li><%= link_to t('Contact'), contact_path %></li>
    </ul>
  </nav>
</footer>